*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/app__bg--light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.app {
  background-color: #eee;
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 5px 0px #333;
          box-shadow: 1px 2px 5px 0px #333;
}
.app__inner {
  padding: 1rem;
  width: 30vw;
}
.app__top {
  margin-bottom: 2rem;
}
.app__title {
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.app__title-underline {
  background: #cccccc;
  content: "";
  width: 100%;
  height: 2px;
}
.app__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ddd4cf;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}
.app__item--completed {
  text-decoration: line-through;
  opacity: 50%;
}
.app__item-text {
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.app .btn {
  font-size: 2.5rem;
  border: none;
  background-color: transparent;
}
.app .btn--complete {
  color: #28a528;
  margin-right: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.app .btn--complete:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.app .btn--delete {
  color: #bb1b1b;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.app .btn--delete:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.app__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app__input-text {
  border: none;
  width: 65%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  border: 2px solid #ddd4cf;
  outline: none;
}
.app__add-btn {
  background-color: #d1db77;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}
.app__add-btn:hover {
  background-color: #c3d04f;
}

.time {
  font-size: 0.9rem;
  color: #333;
  font-weight: 400;
}