@use "fonts";
@use "colors";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/app__bg--light.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: fonts.$ff-primary;
}

.app {
    background-color: colors.$bg-primary-light;
    border-radius: 6px;
    box-shadow: 1px 2px 5px 0px colors.$clr-primary-dark;
    &__inner {
        padding: 1rem;
        width: 30vw;

// Styling top
    }
    &__top {
        margin-bottom: 2rem;
    }
    &__title {
        font-weight: 700;
        text-transform: capitalize;
        color: colors.$clr-primary-dark;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
        &-underline {
            background: lighten(colors.$clr-primary-dark, 60%);
            content: "";
            width: 100%;
            height: 2px;
        }
    }

// Styling list and list items
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: colors.$bg-accent-light;
        margin-bottom: 1rem;
        padding: 0.4rem 0.8rem;

        &--completed {
            text-decoration: line-through;
            opacity: 50%;
        }
        &-text {
            display: inline-block;
            color: colors.$clr-primary-dark;
            font-size: 1.5rem;
            margin-bottom: 0.3rem;
        }
    }
// Styling completed and delete buttons
    .btn {
        font-size: 2.5rem;
        border: none;
        background-color: transparent;
        &--complete {
            color: colors.$clr-complete-btn;
            margin-right: 0.5rem;
            transition: transform 0.2s ease-in-out;;
            &:hover {
                transform: scale(1.2);
            }
        }
        &--delete {
            color: colors.$clr-delete-btn;
            transition: transform 0.2s ease-in-out;;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

// Styling input

    &__input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input-text {
        border: none;
        width: 65%;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: fonts.$ff-primary;
        background-color: transparent;
        border: 2px solid colors.$bg-accent-light;
        outline: none;
    }

    &__add-btn {
        background-color: colors.$clr-add-btn;
        font-family: fonts.$ff-primary;
        font-size: 1rem;
        padding: 0.6rem 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        transition: background-color 0.2s ease-in-out;
        position: relative;
        &:hover {
            background-color: darken(colors.$clr-add-btn, 10%);
        }
    
        

    }

}

// Styling Date under the text and buttons

    .time {
        font-size: 0.9rem;
        color: colors.$clr-primary-dark;
        font-weight: 400;
    }
